<div class="container mt-3">
 <h1>My bookings</h1>

<% @bookings.each do |booking| %>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <%= link_to vehicle_path(booking.vehicle) do %>
            <img src=<%= booking.vehicle.image_url%> class="img-fluid rounded-start" alt="...">
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= booking.vehicle.category %> in <%= booking.vehicle.location %></h5>
            <p class="card-text">Owner: <%= booking.vehicle.user.full_name %> (<%= booking.vehicle.user.email %>)</p>
            <div class="d-flex justify-content-around align-items-end">
              <p class="card-text mb-0">$<%= booking.vehicle.price %></p>
              <p class="card-text mb-0"><small class="text-muted">25-3-2019<%= booking.date %></small></p>
              <%= link_to "Delete this booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-je ml-5" %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
