<div class="container mt-3"  id="space-full-screen">
 <h1>Your Rentals</h1>

<% @rentals.each do |rentals| %>
  <% rentals.each do |rental| %>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <%= link_to vehicle_path(rental.vehicle) do %>
            <%= cl_image_tag rental.vehicle.image_url.key, class:"img-fluid rounded-start" %>
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= rental.vehicle.category %> in <%= rental.vehicle.location %></h5>
            <p class="card-text">Renter: <%= rental.user.full_name %></p>
            <p class="card-text mb-0">Price: $ <%= rental.vehicle.price %>/day</p>
            <p class="card-text mb-0"><small class="text-muted">Pick up: <%= rental.date %></small></p>
            <div class="d-flex justify-content-between">
            <p class="card-text mb-0"><small class="text-muted">Return: <%= rental.end_date %></small></p>    
              <%= link_to "Delete this rental", booking_path(rental), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-je ml-5" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>