<div class="container mt-3">
 <h1>Your Rentals</h1>

<% @rentals.each do |rentals| %>
  <% rentals.each do |rental| %>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <%= link_to vehicle_path(rental.vehicle) do %>
            <img src=<%= rental.vehicle.image_url%> class="img-fluid rounded-start" alt="...">
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= rental.vehicle.category %> in <%= rental.vehicle.location %></h5>
            <p class="card-text">Renter: <%= rental.vehicle.user.full_name %> (<%= rental.vehicle.user.email %>)</p>
            <div class="d-flex justify-content-around align-items-end">
              <p class="card-text mb-0">$<%= rental.vehicle.price %></p>
              <p class="card-text mb-0"><small class="text-muted">25-3-2019<%= rental.date %></small></p>
              <%= link_to "Delete this rental", booking_path(rental), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-je ml-5" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>