<div class="container mt-3">
 <h1>Your Rentals</h1>

<% @rentals.each do |rentals| %>
<% rentals.each do |rental| %>
   <%= link_to vehicle_path(rental.vehicle) do %>
    <div class="card-product m-3 w-75">
     <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
     <div class="card-product-infos">
       <h2><%= rental.vehicle.category %> in <%= rental.vehicle.location %></h2>
       <h3>Renter: <%= rental.user.full_name %> (<%= rental.user.email %>)</h3>
       <div>
        <p><%= rental.vehicle.price %></p>
        <p><%= rental.date %></p>
       </div>
     </div>
   </div>
  <% end %>
 <% end %>
  
<% end %>


</div>