
<div class="container mt-3">
  <h1>All our vehicles</h1>
  <div class="row">
    <div class="col-5 pl-0">
    <% @vehicles.each do |vehicle| %>
      <%= link_to vehicle_path(vehicle) do %>
        <div class="card-trip">
          <%= cl_image_tag vehicle.image_url.key %>
          <div class="card-trip-infos">
            <div>
              <h2><%= vehicle.category %></h2>
              <p style="width: 165px;"><%= vehicle.title %></p>
            </div>
            <p class="card-trip-pricing" style="width: 63px;  font-size: 15px;">$ <%= vehicle.price %>/day</p>
            <img src=<%= vehicle.user.profile_picture %> class="card-trip-user avatar-bordered" style="width: 50px;" />
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
    <div id="map" class="map-index col-7 mt-3"
      style="width: 600vw; height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>

