
<div class="container mt-3">
<h1>All our vehicles</h1>
<br>
<div class="container">
 <div class="row">
   <div class="col-4">
    <% @vehicles.each do |vehicle| %>
     <%= link_to vehicle_path(vehicle) do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= vehicle.image_url %>')">
       <%= vehicle.category %>
      </div>
    <% end %>
   <% end %>
   </div>
   <div id="map" class="map-index col-8 mt-3"
     style="width: 600vw; height: 100vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
