<div class="container mt-3" id="space-full-screen">
  <h1>Create a new vehicle!</h1>
  <%= simple_form_for @vehicle do |f| %>
   <%= f.input :category, :collection => ["Bicycle", "E-bike", "Scooter", "Wheel Chair", "Skate", "Rollers"] %>
   <%= f.input :title %>
   <%= f.input :location %>
   <%= f.input :price %>
   <%= f.input :image_url, as: :file %>
   <%= f.input :description %>
   <%= f.submit %>
  <% end %>
</div>
