<div class="container mt-3">
 <h1>Create a new vehicle!</h1>
 <%= simple_form_for @vehicle do |f| %>
  <%= f.input :category %>
  <%= f.input :title %>
  <%= f.input :location %>
  <%= f.input :price %>
  <%= f.input :image_url, label:"Vehicle image", placeholder:"https://your-image.com" %>
  <%= f.submit %>
 <% end %>
</div>
